/* carousel */
.carousel-container {
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    /* container is relative, so that buttons are absolute */
    position: relative;
}

.carousel-viewport {
    white-space: nowrap; /* wrap all elements in carousel-viewport to 1 line; excess data is displayed out of screen */
    overflow-y: hidden; /* to hide excess data */
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    -webkit-box-flex: 1;
    flex-grow: 1;
    z-index: 1;
    position: relative;
}

.carousel-viewport::-webkit-scrollbar { /* to remove scroll bar in webkit */
    /* display: none; */
}

.carousel-nav {
    /* flex-basis: 35px; basically its like width */
    /* flex-shrink: 0;  shrinking is false */
    cursor: pointer;
    padding: 0;
    opacity: 0.9;
    color: #757575;

    position: absolute;
    top: 50%; /* make button center of container */
    transform: translateY(-60%);
    bottom: 0;
    z-index: 3;

    -webkit-transition: opacity 0.3s ease-in-out,visibility 0.3s;
    transition: opacity 0.3s ease-in-out,visibility 0.3s;
}
.carousel-nav:hover {
    opacity: 1;
    color: #000;
}

.carousel-left-nav {
    left: 0;
}

.carousel-right-nav {
    right: 0;
}

.carousel-nav-disabled {
    opacity: 0;
    z-index: 0;
    cursor: default;
    pointer-events: none;
    transition: none; /* to prevent on load transition to appear when disabled*/
}
.carousel-nav-disabled:hover {
    opacity: 0;
}

.btn-round {
    background-color: #fff;
    border-radius: 999em;
    width: 48px;
    height: 48px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08), inset 0 0 0 0 rgba(0,0,0,0.10), inset 0 0 0 0 rgba(255,255,255,0.50);

    line-height: 1;
    
    /* position: relative; */
    cursor: pointer;
}

.btn-round span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: .8em;
}

/* slides */
.slide {
    margin-top: 8px;
    margin-bottom: 8px;

    margin-left: 4px;
    margin-right: 4px;
    padding: 0px;
    display: inline-block; /* so slides are next to each other */
    vertical-align: top;
    white-space: normal;/* to remove parent's white space */

    text-align: center;
}
.slide:first-child {
    margin-left: 8px;
}
.slide:last-child {
    margin-right: 8px;
}

/* slide details */
.slide-div-background-image-full {
    background-repeat: no-repeat !important;
    background-position: 50% !important;
    background-size: cover !important;
  }
.slide-div-title {
    font-size: 13.5px;
    text-overflow: ellipsis;
}
.slide-div-code {
    font-size: 11px;
    color: #848484;
    text-overflow: ellipsis;
}

.lazyload-blur-filter {
    filter: blur(2px);
}